// Specific CSS for your home-page

.mapbox {
  padding-top: 35px;
}

// .mapboxgl-map {
//   overflow: visible;
//   position: relative;
// }
.quoted:before {
  font: var(--fa-font-solid);
  content: "\f10d\00a0";
}
.quoted:after {
  font: var(--fa-font-solid);
  content: "\00a0\f10e";
}
