<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= asset_path 'home_page.jpg' %>);">

  <div class="container">

    <h1><strong>Bienvenue sur Cueillette</strong></h1>

    <p>Trouve les meilleurs producteurs autour de toi</p>

  </div>

</div>
