<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= asset_path 'home_page.jpg' %>);">
  <div class="container">
    <div class="d-flex align-items-end justify-content-center">
      <h1 class="text-end"><strong>Bienvenue sur</strong></h1>
      <%= image_tag "logo-white.png", id: 'logo-banner' %>
    </div>
    <p class="mb-0">Trouvez des petits producteurs autour de vous,</p>
    <p>et vendez vos propres récoltes <i class="fa-solid fa-seedling"></i></p>
  </div>
</div>
