<footer class="footer bg-light">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    Ce site à été codé avec <i class="fas fa-heart"></i> par des Wagonniers
  </div>
</footer>
