<div>
  <div class="container">
    <br>
    <h1 class="text-center">Mes commandes</h1>
    <br>
      <div class="row">
        <% @orders.where(user_id: @user).each do |order| %>
            <div class="col-md-4">
              <%= render 'order', order: order, user: @user %>
            </div>
        <% end %>
      </div>
    <br>
  </div>
</div>
