<div class="bg-img-tomate">
  <div class="container">
    <div class="row justify-content-center p-4">
      <div class="p-4 rounded bg-white col-sm-8 col-lg-6">
        <h2>Nouvelle commande</h2>


        <%= render "form", order: @order, product: @product %>

      </div>
    </div>
  </div>
</div>
