<h2><%= link_to user.market_name, products_path(user_id: user) %></h2>
<div class="cardimg">
<% if user.photo.attached? %>
    <%= cl_image_tag user.photo.key %>
  <% else %>
    <%= image_tag 'default-vegetables.jpg' %>
  <% end %>
</div>
