<%= render 'devise/shared/avatar', user: user %>
<h2 class="mt-2"><%= user.market_name %></h2>
<p>Propose:
  <% Product.where(user_id: user).map(&:category).uniq.each do |category| %>
    <%= render 'products/categories', category: category %>
  <% end %>
</p>
<%= link_to 'Voir ce producteur', products_path(user_id: user), class: 'btn btn-success stretched-link w-100' %>
