.mapboxgl-ctrl-geocoder--input {
  max-width: none;
  width: 250px;
  height: 50px;
  // border: 1px solid black;
  box-shadow: none;
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  // opacity: 0.9;
  align-self: center;
  // position: absolute;
  // top: -95px;
  // left: -860px;
  // overflow: visible;
  padding: 1rem;
  font-size: medium;
}

.mapboxgl-ctrl-geocoder svg {
  vertical-align: middle;
  display: none;
}

.mapboxgl-ctrl-geocoder--button {
  display: none;
}

.suggestions-wrapper {
  display: none;
}

.mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}
