.bg-img-tomate {
  background-image: asset-url("cueillette-tomate.jpg");
  background-size: cover;
  background-position: 50% 0;
  min-height: calc(100vh - 66px);
  display: flex;
  align-items: center;
}
