.title_mes_commandes {
  background-color: rgba( 0, 0, 0, 0.5 );
  border-radius: 10px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: xxx-large;
  text-align: center;
  color: white
}
