<% case category when 'Fruit' %>
  <span class="badge rounded-pill text-bg-warning">Fruit</span>
<% when 'Vegetable' %>
  <span class="badge rounded-pill text-bg-success">Vegetable</span>
<% when 'Meat' %>
  <span class="badge rounded-pill text-bg-danger">Meat</span>
<% when 'Dairy' %>
  <span class="badge rounded-pill text-bg-primary">Dairy</span>
<% when 'Drink' %>
  <span class="badge rounded-pill text-bg-secondary">Drink</span>
<% when 'Fish' %>
  <span class="badge rounded-pill text-bg-info">Fish</span>
<% end %>
