<% case category when 'Fruit' %>
  <span class="badge rounded-pill text-bg-warning">Fruit</span>
<% when 'Légume' %>
  <span class="badge rounded-pill text-bg-success">Légume</span>
<% when 'Viande' %>
  <span class="badge rounded-pill text-bg-danger">Viande</span>
<% when 'Boisson' %>
  <span class="badge rounded-pill text-bg-primary">Boisson</span>
<% when 'Poisson' %>
  <span class="badge rounded-pill text-bg-info">Poisson</span>
<% end %>
